 {{> head}}

     {{> navbar}}
     <div class="row">
          <div class='col-8'>
               <h1>perrito</h1>
               <p> perrito</p>
          </div>
          <div class='col-4'>
               <img SRC="assets/img/perro.jpeg" CLASS='img-thumbnail'>
          </div>
     </div>
{{> footer}}